@import "tailwindcss";

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/HelveticaNeue-Medium.otf');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/HelveticaNeue-Bold.otf');
}

@theme {
    --color-search: #f7f7f7;
    --font-display: 'Helvetica', sans-serif;
}

