@import "tailwindcss";

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/HelveticaNeue-Medium.otf');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/HelveticaNeue-Bold.otf');
}

@theme {
    --color-search: #f7f7f7;
    --font-display: 'Helvetica', sans-serif;
    --color-pale_border: #c1c1c1;
}

@layer components {
    .size_selection {
        @apply flex justify-center items-center py-2.5 border-1 border-pale_border rounded-sm cursor-pointer hover:border-black;
    }
    a{
        @apply hover:underline;
    }

    .highly-rated::after {
        content:'Highly Rated';
        @apply absolute flex inset-4 justify-end items-center w-28.5 h-6.5 pt-1 pl-1.5 pr-4 rounded-[52px]
        bg-white bg-[url('assets/images/icons/star.svg')] bg-top-left bg-origin-content  bg-no-repeat;
    }
}


@layer utilities {
    .list-disc {
        list-style: disc;
    }
}

