@import "tailwindcss";

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/HelveticaNeue-Medium.otf');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/HelveticaNeue-Bold.otf');
}

@theme {
    --color-search: #f7f7f7;
    --font-display: 'Helvetica', sans-serif;
    --color-pale_border: #c1c1c1;
}

@layer components {
    .size_selection {
        @apply flex justify-center items-center py-2.5 border-1 border-pale_border rounded-sm cursor-pointer hover:border-black;
    }
}


@layer utilities {
    .list-disc {
        list-style: disc;
    }
}

